.header_index{
    width: 100%;
    height: 100px;
    background-color: rgba(37, 36, 45, 1);
}
.footer_index{
    width: 100%;
    height: 560px;
    background-color: rgb(194, 180, 180);
}
.menu_item{ 
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.info_footer{
    height: 300px;
    background-color: #FFFF;
    border-bottom: 1px solid #aaa7a7;
    border-right: 1px solid #aaa7a7;
    border-top: 1px solid #aaa7a7;
}
@font-face {
    font-family:Lato;
    src:url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Captureit.eot#iefix') format('embedded-opentype'),
    url('../fonts/Captureit.woff') format('woff');
    font-weight:normal;
    font-style:normal;
   }

   .search__input {
  
        width: 188px;
        height: 40px;
        padding-left: 10px;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 20px;
        color: #C3BFBF;
        background-color: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 5px;
        border: 1px solid #898888;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
}
.cart_index{
    width: 30px;
    height: 30px;
}
.req_header{
    font-size: 12px; color: #999; 
}
.req_header a{
    font-size: 18px; color: #999; 
    text-decoration: none;
}
.col_footer{
    border: 1px solid rgb(223, 221, 221);
    border-left: none;
} 

dt{
    font-size: 22px;
    margin-bottom: 20px;
}
dd i{
    font-size: 30px;
    color: 999;
}
dd span{
   margin: 20px;
   font-size: 18px;
}
dd a:hover{ 
    color: black;
}

.artical_index{
    width: 100%;
    height: 970px;
    background-color: #898888;
}

.artical_index img{
    width: 100%;
    height: 970px;
}
.banner_index{
    position: relative;
    z-index: 1;
}

.banner_index .banner_menu{ 
    position: absolute;
    width: 66%;
    height: 80px;
    left: 18%;
    top: 65px;
    z-index: 99;
}



.banner_menu_item{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.banner_menu_item a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.banner_index .shownow{
    background-color: #C93F04;
    width: 211px;
    height: 68px;
    border-radius: 5px;
    color: #DBD8D8;
    position: absolute;
    top: 698px;
    left: 729px;
    z-index: 100;
    border: none;
    font-size: 25px;
}
.banner_index .play{
    color: #DBD8D8;
    position: absolute;
    top: 680px;
    left: 1009px;
    z-index: 100;
    border: none;
    font-size: 25px;
}

a :hover{ 
    color: #C93F04;
}

._box{ 
    position: relative;
    width: 45%;
    height: 720px; 
    background-color: wheat;
    float: left;
}
._box img{
   width: 100%;
   height: 100%;
}

._boxnow{
    background-color: #C93F04;
    width: 211px;
    height: 68px;
    border-radius: 5px;
    color: #DBD8D8;
    position: absolute;
    top: 550px;
    left: 50px;
    z-index: 100;
    border: none;
    font-size: 25px;
}

._boxnow1{
    background:none;
    width: 211px;
    height: 68px;
    border-radius: 5px;
    color: #DBD8D8;
    position: absolute;
    top: 550px;
    right: 5px;
    z-index: 100;
    border: 1px solid #999;
    font-size: 25px;
}

.book_list{
    width: 100%;
    height: 440px;
    /* background-color: #999; */
}
.book_item{
   
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
    margin-left: 2%;
    border-radius: 5px;
    border: 1px solid #888;
}
.book_item .book_img{
    position: relative;
    max-width: 100%;
    height: 69%;
}
.book_item .book_img img{
    margin-top: 10px;
    width: 85%;
    height: 95%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    

}
.book_item .book_img button{
    transition: .5s ease;
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.book_item .book_img:hover button{
    opacity: 1;
}
.book_item .book_img:hover img{
    opacity: 0.8;
    border: 1px solid #333;
}




.book_item .book_title a{
    text-decoration: none;
   font-size: 20px;
   font-weight: 500;
   color: #333;
   font-family:inherit;
   margin-top: 20px;
}
.book_item .book_title a:hover{
    color: #C93F04;
}

.banner_articical{ 
    height: 680px;
    width: 100%;
    background-color: #898888;
}

.cart_articical{ 
    height: 700px;
    width: 100%;
    background-color: #E8E8E8;
}
.cart_articical .cart_title{ 
    text-align: center;
    font-size: 60px;
    font-family: initial;
    
}

.cart_articical .cart_body{ 
    margin-top: 20px;
    width: 100%;
    height: 70%;

    margin: auto;
}

.cart_body .contain{
    width: 80%;
    height: 100%;
    margin: auto;
}

.details{
    margin-top: 40px;
}

  .tab-content img{
    height: 70%;
    width: 80% ;
    margin-top: 50px;
  }
  .product-title, .price, .sizes, .colors {
 
    font-weight: 500; }
  .price{
    font-size: 20px;
  }
  .checked, .price span {
    font-size: 20px;
    color: #C93F04;
   }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

    .product-description{
        font-size: 14px;
    }
  .review-no, .product-title{
    margin-top: -20px;
  }
  .product-title {
    margin-top: 0; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
}
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
.button_all_orange{
    background-color: #C93F04;
    width: 200px;
    height: 68px;
    border-radius: 5px;
    color: #DBD8D8;
    border: none;
    font-size: 25px;
}

.button_all_none{
    background:none;
    width: 200px;
    height: 68px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #333;
    font-size: 25px;
}

.info_book{
    font-size: 20px;
    font-family: inherit;
    margin-top: 20px;
    
}
.info_book p{
    margin-top: -10px;
}
.info_book span{
    font-weight: 500;
    color: #666;
}

.stars {
    color:#C93F04
}