.frameMyAccount{
    width: 1354px;
    margin: auto;
    margin-top: 2%;
}
.frameMyAccount-left{
    background-color: #F6F6F6;
    width: 281px;
    height: 600px;
    float: left;
}
.frameMyAccount-right{
    background-color: #F6F6F6;
    width: 1049px;
    float: right;
    padding-bottom: 30px;
}
.logoAccount{
    float: left;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin: 20px 15px 20px 25px;
}
.spanProfile{
    padding: 30px;
}
.nameAccount{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 0 0px !important;
}
.idAccount{
    font-size: 13.5px;
}
i{
    font-size: 16px;
    margin-right: 8px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
    color: #F25019;
}
.menuMyAccount{
    margin-bottom: 30px;
}
.aMyAccount, .aPurchaseorder, .aNofication{
    font-size: 16px;
    font-weight: 600;
}
li{
    border: none !important;
    background-color: #F6F6F6 !important;
    font-size: 13.5px;
    margin-left: 15px;
}
.tableMyPersonal{
    float: left;
    border: #B3B3B3 !important; 
    width: 680px !important;
    margin: 40px 0 0 25px;
    background-color: white;
}
#inpDate{
    width: 60%;
    height: 100%;
    border: none !important;
}
#inpDate:focus{
    width: 60%;
    height: 100%;
    border: none !important;
    box-shadow: none !important;
}
th{
    border-right: 1px solid #B3B3B3;
    font-weight: 500;
}
th, td{
    height: 90px !important;
    vertical-align: middle !important;
    padding-left: 40px !important;
}
.chooseImageAccount{
    float: left;
    width: 193px;
    margin: 20px 0 0 75px;
}
.imageAccount{
    width: 193px;
    height: 193px;
    border-radius: 50%;
    margin-top: 47%;
}
.btnChooseImage{
    width: 180px;
    height: 67.5px;
    margin: 25px 0 0 6.5px;
    font-size: 15px;
    color: white;
    background-color: #F25019;
    border-radius: 5px;
    border: none;
}

/* css address */

#titleAddressSetting{
    font-size: 30px;
    font-weight: 600;
}
.addressDetail{
    width: 1000px;
    margin: 20px 0 20px 19.5px;
}
.address1{
    width: 100%;
    height: 152.5px;
    margin: 0 0 10px 0;
    padding: 15px;
    background-color: white;
}
.NamePhone{
    font-size: 15px;
    font-weight: 700;
}
.pAddressDetail{
    font-size: 12.5px;
    margin-left: 10px;
}
.btnSetToDefault{
    background-color: #F25019;
    font-size: 15px;
    width: 145px;
    color: white;
}
.btnNewAddress{
    float: right;
    margin: 30px 71px 0 0;
    width: 145px;
    background-color: #F25019;
    font-size: 15px;
    color: white;
}
/* box new address */

.boxNewAddress{
    width: 750px;
    margin-left: calc(50% - 375px);
    margin-top: 37px;
}
.btnFinish-newAddress{
    background-color: #F25019;
    color: white;
    width: 145px;
    height: 46.25px;
    margin-left: calc(100% - 320px);
}
.btnCancel-newAddress{
    background-color: #D9D9D9;
    width: 145px;
    height: 46.25px;
    margin-left: 20px;
}
#formNewAddress{
    padding: 0 30px 0 30px;
}
#fullName-newAddress, #phone-newAddress, #specificAddress-newAddress, #formNewAddress div select{
    height: 50px;
    font-size: 15px !important;
    padding-left: 30px !important;
}
#fullName-newAddress:focus, #phone-newAddress:focus, #specificAddress-newAddress:focus, #formNewAddress div select:focus{
    height: 50px;
    font-size: 15px !important;
    box-shadow: none !important;
    border: 1px black solid;
}
#province-newAddress option:hover{
    background-color: #F25019 !important;
}
#formNewAddress div label{
    font-size: 15px;
}
/* change password */

#titleChangePassword{
    font-size: 30px;
    font-weight: 600;
    margin-left: 70px;
}
#changePassword{
    width: 897.5px;
    margin: 40px 0 0 60.5px;
}
#OldPassword, #NewPassword, #confirmNewPassword{
    height: 60px;
    font-size: 15px !important;
    border: none !important;
    padding-left: 35px !important;
}
#OldPassword:focus, #NewPassword:focus, #confirmNewPassword:focus{
    height: 60px;
    font-size: 15px !important;
    border: none !important;
    box-shadow: none !important;
}
.btnSaveChangePassword{
    float: right;
    margin: 30px 0px 0 0;
    width: 145px;
    background-color: #F25019;
    font-size: 15px;
    color: white;
}
/* order */

.nav-tabs{
    width: 989px;
    margin: 10px 0 0 24px;
}
.nav-tabs li a{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
}
#titleOrder{
    font-size: 30px;
    font-weight: 600;
}
.order{
    width: 989px;
    height: 300px;
    margin: 30px 0 0 24px;
    background-color: #F0F0F0;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.cardHeader{
    height: 62.5px;
    border-bottom: 1px solid black;
}

#logoAccountOrder{
    width: 31.25px;
    height: 31.25px;
    border-radius: 50%;
    margin: 15px 0 0 15px;
    float: left;
}
.nameAccountOrder{
    font-size: 15px;
    float: left;
    font-weight: 700;
    margin-top: 20px;
}
.btnChat{
    border: 1px solid #FF6B00;
    background-color: #FFCBA5;
    width: 100px;
    height: 37.5px;
    font-size: 15px;
    float: left;
    margin: 13px 10px 0 30px;
}
.btnReport{
    background-color: #D9D9D9;
    width: 100px;
    height: 37.5px;
    font-size: 15px;
    float: left;
    margin-top: 13px;
}
#pStatus{
    font-size: 15px;
    color: #F25019;
    float: right;
    margin: 15px 30px 0 0;
}
.cardBody{
    border-bottom: 1px solid black;
    height: 137.5px;
}
.imgBook{
    width: 73.75px;
    height: 110px;
    border-radius: 10px;
    float: left;
    margin: 11px 0 0 40px;
}
.nameBook{
    width: 275px;
    height: 76.25px;
    font-size: 15px;
    float: left;
    margin: 24.5px 0 0 15px;
    font-weight: 500;
}
.price{
    font-size: 18.75px;
    font-weight: 800;
    float: right;
    margin: 45px 50px 0 0;
}
.cardFooter{
    height: 112.5px;
}
.total{
    font-size: 20px;
    font-weight: 700;
    color: #F25019;
    margin: 25px 0 0 40px;
    float: left;
}
.btnDetail-order{
    font-size: 20px;
    border: #FF6B00 1px solid;
    background-color: #FFCBA5;
    width: 145px;
    height: 46.25px;
    border-radius: 5px;
    float: right;
    margin: 22px 20px 0 0;
}
.btnRating{
    font-size: 20px;
    border: #FF6B00;
    background-color: #D9D9D9;
    width: 145px;
    height: 46.25px;
    border-radius: 5px;
    float: right;
    margin: 22px 20px 0 0px;
}

/* order detail */

.boxOrderDetail-top{
    width: 988.75px;
    height: 360px;
    margin-left: 30.125px;
}
#pDiaChiNhanHang{
    float: left;
    font-size: 19px;
    font-weight: 700;
}
#pAddressDetail{
    font-size: 14.5px;
    color: #A7A7A7;
    width: 384px;
    height: 91.25px;
    margin: 50px 0 0 10px;
}
#pID-orderDetail{
    float: right;
    color: #F25019;
    font-size: 15px;
}
.deliveryProcess{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 860px;
    background-color: #fff;
}
#bar1{
    position: absolute;
    width: 258px;
    border: 2px solid #F25019;
    left: 20%;
    margin-top: 30px;
}
#bar2{
    position: absolute;
    width: 258px;
    border: 2px solid #F25019;
    right: 20%;
    margin-top: 30px;
}
.orderIsConfirm{
    float: left;
    width: 344px;
    height: 95px;
}
.icon-orderIsConfirm{
    background-color: #F25019;
    width: 58.75px;
    height: 58.75px;
    border-radius: 50%;
    padding: 7.8px 0 0 16.5px;
    margin: auto;
}
.icon-orderIsConfirm i{
    font-size: 27px;
    color: white;
}
.orderIsConfirm p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
.orderIsShipping{
    float: left;
    width: 172px;
    height: 95px;
}
.icon-orderIsShipping{
    width: 58.75px;
    height: 58.75px;
    background-color: #F25019;
    border-radius: 50%;
    padding: 7.8px 0 0 16.5px;
    margin: auto;
}
.icon-orderIsShipping i{
    font-size: 27px;
    color: white;
}
.orderIsShipping p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
.orderHasBeanDelivered{
    float: left;
    width: 344px;
    height: 95px;
}
.icon-orderHasBeanDelivered{
    width: 58.75px;
    height: 58.75px;
    background-color: #F25019;
    border-radius: 50%;
    padding: 7.8px 0 0 16.5px;
    margin: auto;
}
.icon-orderHasBeanDelivered i{
    font-size: 27px;
    color: white;
}
.orderHasBeanDelivered p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}
.boxOrderDetail-bottom{
    width: 988.75px;
    margin-left: 30.125px;
}
.boxHeader{
    float: left;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #F0F0F0;
}

#logoAccountOrderDetail{
    width: 31.25px;
    height: 31.25px;
    border-radius: 50%;
    margin: 15px 0 0 15px;
    float: left;
}
.nameAccountOrderDetail{
    font-size: 15px;
    float: left;
    font-weight: 700;
    margin-top: 20px;
}
.btnChat-orderDetail-top{
    border: 1px solid #FF6B00;
    background-color: #FFCBA5;
    width: 100px;
    height: 37.5px;
    font-size: 15px;
    float: left;
    margin: 13px 10px 0 30px;
}
.btnReport-orderDetail{
    background-color: #D9D9D9;
    width: 100px;
    height: 37.5px;
    font-size: 15px;
    float: left;
    margin-top: 13px;
}
#pStatus-orderDetail{
    font-size: 15px;
    color: #F25019;
    float: right;
    margin: 15px 30px 0 0;
}
.boxBody{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    float: left;
    background-color: #F0F0F0;
}
.product-orderDetail{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.imgBook-orderDetail{
    width: 73.75px;
    height: 110px;
    border-radius: 10px;
    float: left;
    margin: 0px 0 0 40px;
}
.nameBook-orderDetail{
    width: 275px;
    height: 76.25px;
    font-size: 15px;
    float: left;
    margin: 24.5px 0 0 15px;
    font-weight: 500;
}
.price-orderDetail{
    font-size: 18.75px;
    font-weight: 800;
    float: right;
    margin: 45px 50px 0 0;
}
.boxFooter{
    width: 100%;
    padding-bottom: 20px;
    float: left;
    background-color: #F0F0F0;
}
.detailInfo-left{
    width: 50%;

}
.tabledetailInfo{
    width: 100%;
    margin-top: 20px;
}
.tabledetailInfo td{
        height: 30px !important;
}
.tabledetailInfo tr:nth-child(1){
    color: #808080;
    font-size: 16.25px;
    font-weight: 500;
}
.tabledetailInfo tr:nth-child(2){
    color: #808080;
    font-size: 16.25px;
    font-weight: 500;
}
.tabledetailInfo tr:nth-child(3){
    color: #808080;
    font-size: 16.25px;
    font-weight: 500;
}
.tabledetailInfo tr:nth-child(4){
    font-size: 16.25px;
    font-weight: 500;
}
.tabledetailInfo tr:nth-child(5){
    color: #F25019;
    font-size: 22px;
    font-weight: 700;
}
.detailInfo-right{
    width: 100%;
    float: right;
}
.btnRating-orderDetail{
    font-size: 20px;
    background-color: #F25019;
    width: 145px;
    height: 46.25px;
    border-radius: 5px;
    float: right;
    margin: 22px 20px 0 0;
}
.btnChat-orderDetail-bot{
    font-size: 20px;
    background-color: #D9D9D9;
    width: 145px;
    height: 46.25px;
    border-radius: 5px;
    float: right;
    margin: 22px 20px 0 0;
}
.btnBuyAgain-orderDetail{
    font-size: 20px;
    background-color: #D9D9D9;
    width: 145px;
    height: 46.25px;
    border-radius: 5px;
    float: right;
    margin: 22px 20px 0 0;
}

/* rate product */

.boxRateProduct{
    width: 907.5px;
    margin-left: calc(50% - 453.75px);
    margin-top: 37px;
}
.rateProduct{
    width: 777.5px;
    margin: auto ;
}
.imgProductRate{
    width: 73.75px;
    height: 110px;
    border-radius: 10px;
    float: left;
}
.nameProductRate{
    font-size: 15px;
    float: left;
    font-weight: 500;
    width: 400px;
    margin: 5px 0 0 25px;
}
.btnChooseImageRate{
    background-color: #F25019;
    width: 145px;
    height: 36.25px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    float: left;
    margin: 20px 0 0 25px;
}
.star-rate i{
    color: #FFC403; 
    font-size: 26px;
    float: right;
    margin-top: 20px;
}
.rateProduct textarea{
    width: 777.5px;
    height: 115px;
    background-color: #F0F0F0;
    font-size: 15px;
    border: none;
    margin-top: 30px;
}
::placeholder{
    font-size: 15px;
    color: #C5C5C5;
}
.btnFinish-rateProduct{
    background-color: #F25019;
    color: white;
    width: 145px;
    height: 46.25px;
}
.btnCancel-rateProduct{
    background-color: #D9D9D9;
    width: 145px;
    height: 46.25px;
    margin-right: 52px;
}
