.book_related{
    width: 100%;
    height: 400px;
    margin: auto;
    /* background-color: #999; */
}
.book_related .book_item{
   
    width: 18%;
    height: 100%;
    background-color: white;
    float: left;
    margin-left: 2%;
    border-radius: 5px;
    border: 1px solid #888;
}
.book_related .book_item .book_img{
    position: relative;
    max-width: 100%;
    height: 65%;
}
.book_related .book_item .book_img img{
    margin-top: 10px;
    width: 85%;
    height: 95%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    

}
.book_related .book_item .book_img button{
    transition: .5s ease;
    position: absolute;
    top: 45%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.book_related .book_item .book_img:hover button{
    opacity: 1;
}
.book_related .book_item .book_img:hover img{
    opacity: 0.8;
    border: 1px solid #333;
}

.book_related .book_item .book_title a{
    text-decoration: none;
   font-size: 20px;
   font-weight: 500;
   color: #333;
   font-family:inherit;
   margin-top: 20px;
}

.book_related .book_item .book_title a:hover{
    color: #C93F04;
}

.banner_shop_guest{ 
    height: 315px;
    width: 90%;
    position: relative;
    background-color: #C93F04;
    margin: auto;
}

.box_banner_shop{
    width: 30%;
    height: 85%;
    position: absolute;
    top:5%;
    left: 2%;
    border: 1px solid white;
    border-radius: 5px;
}