<!DOCTYPE html>
<html lang="vi">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="/assets/css/shopping-cart-app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../static/Client/css/_index.css">
    <link rel="stylesheet" href="/Client/css/product.css">

  <link href="a.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <h1>Tìm hiểu về thuộc tính Float Left trong CSS</h1>

  <div class="box-cha">
    
    <div class="box-con">
      Div Con 1
    </div>
    <div class="box-con">
      Div Con 2
    </div>
    <div class="box-con">
      Div Con 3
    </div>
    <div class="box-con">
      Div Con 4
    </div>

  </div>

</body>
</html>