<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/Client/My_account/index_MyAccount::dynamical(~{::maccount})}">

<body>
    <div th:fragment="maccount">
        <p class="mt-4 ms-4" id="titleOrder">Order</p>
        <div class="order">
            <div class="cardHeader">
                <span>
                    <img id="logoAccountOrderDetail" src="../../../static/Client/images/Logo_Nha_Nam.jpg" alt="">
                    <p class="ms-2 nameAccountOrder">tungle1204</p>
                </span>
                <button class="btn btnChat">Chat</button>
                <button type="button" class="btn btnReport" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Report
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content boxRateProduct">
                            <div class="modal-header" style="border: none;">
                                <h3 class="modal-title" id="exampleModalLabel">Report prodduct</h3>
                            </div>
                            <div class="modal-body">
                                <div class="rateProduct mb-5">
                                    <img class="imgProductRate"
                                        src="../../../static/Client/images/but-ky-nguoi-di-san.jpg" alt="">
                                    <p class="nameProductRate">Bút Ký Người Đi Săn</p> <br> <br>
                                    <button class="btn btnChooseImageRate">Choose image</button>
                                    <p class="star-rate"><i class="bi bi-star"></i><i class="bi bi-star"></i><i
                                            class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                                    </p>
                                    <div id="rating">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        
                                        <input type="radio" id="star4half" name="rating" value="4 and a half" />
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        
                                        <input type="radio" id="star3half" name="rating" value="3 and a half" />
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        
                                        <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        
                                        <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                        
                                        <input type="radio" id="starhalf" name="rating" value="half" />
                                        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    </div>
                                    <textarea name="" id="" cols="80" rows="5"
                                        placeholder="Share everything you like product !"></textarea>
                                </div>
                                <div class="rateProduct">
                                    <img class="imgProductRate"
                                        src="../../../static/Client/images/but-ky-nguoi-di-san.jpg" alt="">
                                    <p class="nameProductRate">Bút Ký Người Đi Săn</p> <br> <br>
                                    <button class="btn btnChooseImageRate">Choose image</button>
                                    <p class="star-rate"><i class="bi bi-star"></i><i class="bi bi-star"></i><i
                                            class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                                    </p>
                                    <textarea name="" id="" cols="80" rows="5"
                                        placeholder="Share everything you like product !"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer" style="border: none;">
                                <button type="button" class="btn btnFinish-rateProduct">Finish</button>
                                <button type="button" class="btn btnCancel-rateProduct"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p id="pStatus">Status: Finish</p>
            </div>
            <div class="cardBody">
                <img class="imgBook" src="../../../static/Client/images/but-ky-nguoi-di-san.jpg" alt="">
                <p class="nameBook">Bút Ký Người Đi Săn <br> x1</p>
                <p class="price">155.00</p>
            </div>
            <div class="cardFooter">
                <p class="total">Total: 310.00</p>
                <button class="btn btnRating">Rating</button>
                <button class="btn btnDetail-order">Detial</button>
            </div>
        </div>
        <div class="order">
            <div class="cardHeader">
                <span>
                    <img id="logoAccountOrderDetail" src="../../../static/Client/images/Logo_Nha_Nam.jpg" alt="">
                    <p class="ms-2 nameAccountOrder">tungle1204</p>
                </span>
                <button class="btn btnChat">Chat</button>
                <button class="btn btnReport">Report</button>
                <p id="pStatus">Status: Finish</p>
            </div>
            <div class="cardBody">
                <img class="imgBook" src="../../../static/Client/images/but-ky-nguoi-di-san.jpg" alt="">
                <p class="nameBook">Bút Ký Người Đi Săn <br> x1</p>
                <p class="price">155.00</p>
            </div>
            <div class="cardFooter">
                <p class="total">Total: 310.00</p>
                <button class="btn btnRating">Rating</button>
                <button class="btn btnDetail-order">Detial</button>
            </div>
        </div>
    </div>
</body>

</html>